@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./images/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1000px;
	height: 90%;
	perspective: 1200px;
	overflow: hidden;
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 700px;
	transform-style: preserve-3d;
	background: #000;
	border-radius: 15px;
}

.card .card-bg {
	position: absolute;
}

.card .card-bg img {
	z-index: 1;
	width: 100%;
	border-radius: 10px;
}

.card .title {
	z-index: 3;
	position: absolute;
	top: 30px;
	color: #fff;
	text-align: center;
	line-height: 0.9;
	transition: all 0.3s ease-out;
}

.card .title h2 {
	font-family: 'Emilys Candy', serif;
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.card .title h1 {
	font-family: 'Emilys Candy', serif;
	font-size: 60px;
	letter-spacing: 2px;
}

.card .title h3 {
	font-family: 'Eczar', serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 10px;
}

.card .title h4 {
	position: absolute;
	right: -20px;
	top: 16px;
	transform: rotate(11deg);
	letter-spacing: 1px;
	font-size: 14px;
}

.card .images {
	z-index: 2;
}

.card .images .santa {
	position: absolute;
	left: 50%;
	margin-left: -175px;
	bottom: 0;
	width: 370px;
	transition: all 0.3s ease-out;
}

@media all and (max-height: 800px) {
	.card {
		height: 100%;
	}
	.card .images .santa {
		/* width: 94%;
		margin-left: -47%;
		height: 78%; */
		width: 70%;
		margin-left: -35%;
	}
}
@media all and (max-width: 600px) {
	.card {
		width: 75%;
		height: 86%;
		min-width: 240px;
	}
	.card .title h1 {
		font-size: 50px;
	}
	.card .images .santa {
		width: 80%;
		margin-left: -40%;
		min-width: 200px;
	}
}
@media all and (max-width: 400px) {
	.card .title h1 {
		font-size: 45px;
	}
}
