@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./images/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	height: 90%;
	perspective: 1200px;
	overflow: hidden;
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 700px;
	transform-style: preserve-3d;
	background: #fff;
	border-radius: 15px;
}

.card::before {
	content: '';
	position: absolute;
	width: calc(100% - 15px);
	height: calc(100% - 15px);
	border: 4px solid #000;
	border-radius: 13px;
}

.card .card-bg {
	position: absolute;
}

.card .card-bg img {
	z-index: 1;
	width: 100%;
	border-radius: 10px;
}

.card .title {
	z-index: 3;
	position: absolute;
	top: 40px;
	color: #000;
	text-align: center;
	line-height: 0.9;
	transition: all 0.3s ease-out;
}

.card .title h2 {
	font-family: 'Emilys Candy', serif;
	font-size: 25px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.card .title h1 {
	font-family: 'Emilys Candy', serif;
	font-size: 55px;
	letter-spacing: 2px;
}

.card .title h3 {
	font-family: 'Eczar', serif;
	font-size: 21px;
	text-transform: uppercase;
	margin-top: 10px;
}

.card .title h4 {
	position: absolute;
	right: -20px;
	top: 16px;
	transform: rotate(10deg);
	letter-spacing: 0.05rem;
	font-size: 16px;
}

.card .images {
	z-index: 0;
}

.card .images .santa {
	position: absolute;
	left: 50%;
	margin-left: -180px;
	bottom: 7px;
	width: 360px;
	transition: all 0.3s ease-out;
}

.card .message {
	font-size: 20px;
	line-height: 1.4;
	font-family: 'Eczar', serif;
	margin: -170px 50px 0 50px;
}

.carol {
	z-index: 1;
	position: absolute;
	left: 14px;
	bottom: 12px;
}

#audioPlayer {
	display: none;
}

#playPauseButton {
	width: 40px;
	height: 40px;
	background-size: 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	border: none;
}

.play {
	background: url('./images/play.png') 50% 50% no-repeat;
}
.pause {
	background: url('./images/pause.png') 50% 50% no-repeat;
}

@media all and (max-height: 800px) {
	.card {
		height: 100%;
	}
	.card .images .santa {
		width: 70%;
		margin-left: -35%;
	}
}
@media all and (max-width: 600px) {
	.card {
		width: 75%;
		height: 86%;
		min-width: 260px;
		max-height: 700px;
	}
	.card .title h1 {
		font-size: clamp(29px, 8vw, 50px);
	}
	.card .title h4 {
		right: -17px;
	}
	.card .images .santa {
		width: 90%;
		margin-left: -45%;
		min-width: 200px;
	}
	.card .message {
		font-size: 16px;
		margin: -16vh 20px 0 20px;
	}
	#playPauseButton {
		width: 30px;
		height: 30px;
	}
}
@media all and (max-width: 400px) {
	.card .title h1 {
		font-size: 28px;
	}
	.card .title h2 {
		font-size: 22px;
	}
}
